<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top">
    <div class="container-fluid">
        <div class="navbar-header text-light">
            WebSite Name
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link text-light">Home</a></li>
            <li class="nav-item"><a href="/entity/allTransactions/{{id}}" class="nav-link text-light">View all transactions</a></li>
            <li class="nav-item"><a href="/entity/pendingTransactions/{{id}}" class="nav-link text-light">View pending transactions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/logout" class="nav-link text-light">Logout</a></li>
            <li class="nav-item"><a href="/entity/myProfile" class="nav-link text-light">Profile</a></li>
        </ul>
    </div>
</nav>

<main>
    {{#if length}}
    <h1>Below are all the pending transactions on your account:</h1>
    {{#each transactions}}
    <ul class="transactions list">
        <li class="transaction id">Transaction ID: <a href="/entity/transactionDetails/:{{transactions._id}}">{{transactions._id}}</a></li>
        {{#if landSurveyor}}
        <li class="transaction status">Transaction status: {{transactions.surveyor.status}}</li>
        {{/if}}
        {{#if titleC}}
        <li class="transaction status">Transaction status: {{transactions.titleCompany.status}}</li>
        {{/if}}
        {{#if govt}}
        <li class="transaction status">Transaction status: {{transactions.government.status}}</li>
        {{/if}}
    </ul>
    {{/each}}
    {{else}}
    You have no pending transactions! Good job! Enjoy your day!
    {{/if}}
</main>