<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top">
      <div class="container-fluid">
          <div class="navbar-header text-light">
              <a class="navbar-brand" href="#">TradeMyProperty</a>
          </div>
          <ul class="nav navbar-nav">
              <li class="nav-item"><a href="/admin" class="nav-link text-light">Home</a></li>
              <li class="nav-item"><a href="/admin/approvals/account" class="nav-link text-light">Account Approvals</a></li>
              <li class="nav-item"><a href="/admin/approvals/land" class="nav-link text-light">Land Approvals</a></li>
              <li class="nav-item"><a href="/admin/approvals/transaction" class="nav-link text-light">Transaction Approvals</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/logout" class="nav-link text-light">Logout</a></li>
            
          </ul>
      </div>
  </nav>
</header>
<br>
<main>
  <div class="container-xl border border-dark rounded"; style="min-height: 85vh">
  {{#if accountsExist}}
    {{#each accountList}}
      <a class="dark-links" href="/admin/account/{{this._id}}">
        <div class="card border-info rounded-lg shadow-lg p-2 my-3">
          <p class="my-0">{{this.name}}</p>
          <p class="my-0">{{this.emailId}}</p>
          <p class="my-0">{{this.role}}</p>
        </div>
      </a>
    {{/each}}
  {{else}}
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="text-center">No accounts to be approved</p>
      </div>
    </div>
  {{/if}}
  </div>
</main>