<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSite Name</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/admin/approvals/account">Account Approvals</a></li>
            <li><a href="/admin/approvals/land">Land Approvals</a></li>
            <li><a href="/admin/approvals/transaction">Transaction Approvals</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin/profile">Profile</a></li>
        </ul>
    </div>
</nav>
<main>
  {{#if accountsExist}}
  <ul class="approval-list"></ul>
    {{#each accountList}}
      <a href="/admin/approvals/account/{{this._id}}">
        <li>{{this.name}} - {{this.emailId}} - {{this.type}}</li>
      </a>
    {{/each}}
  {{else}}
    <div class="empty-list">No accounts to be approved</div>
  {{/if}}
</main>