<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top">
    <div class="container-fluid">
        <div class="navbar-header text-light">
            WebSite Name
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/land" class="nav-link text-light">Home</a></li>
            <li class="nav-item"><a href="/user/{{userId}}/land" class="nav-link text-light">My Property</a></li>
            <li class="nav-item"><a href="/user/{{userId}}/transactions" class="nav-link text-light">My
                    Transactions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/logout" class="nav-link text-light">Logout</a></li>
            <li class="nav-item"><a href="/user/{{userId}}/profile" class="nav-link text-light">Profile</a></li>
        </ul>
    </div>
</nav>
<main class="container-fluid">
    <div class="row">
        <div class="col-md-8 card mt-3 ml-3 border-info rounded-lg shadow-lg">
            <p class="m-0 font-weight-bold">{{land.address.line1}} {{land.address.line2}},</p>
            <p class="font-weight-bold">{{land.address.city}}, {{land.address.state}} {{land.address.zipCode}}</p>
            <p>Dimensions: {{land.dimensions.length}}ft x {{land.dimensions.breadth}}ft</p>
            <p>Area: {{land.area}} sq ft</p>
            <p>{{land.type}} Area</p>
            <p class="m-0">Restrictions: </p>
            <ul>
                {{#each land.restrictions}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{#if land.sale.onSale}}
            <p>Sale: Yes</p>
            <p>Price: ${{land.sale.price}}</p>
            <p>Date of Listing: {{land.sale.dateOfListing}}</p>
            {{else}}
            <p>Sale: No</p>
            {{#if isOwner}}
            {{#if (eq land.approved "pending")}}
            <button id="sale" type="button" class="btn btn-dark mb-3" data-toggle="modal" data-target="#saleModal"
                disabled>
                Put for Sale
            </button>
            {{/if}}
            {{#if (eq land.approved "rejected")}}
            <button id="sale" type="button" class="btn btn-dark mb-3" data-toggle="modal" data-target="#saleModal"
                disabled>
                Put for Sale
            </button>
            {{/if}}
            {{#if (eq land.approved "approved")}}
            <button id="sale" type="button" class="btn btn-dark mb-3" data-toggle="modal" data-target="#saleModal">
                Put for Sale
            </button>
            {{/if}}
            {{/if}}
            {{/if}}
            <div class="modal" id="saleModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title">Enter the price to put on sale.
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="/land/{{land._id}}" method="post" id="saleForm">
                                <label for="priceInput">Price: </label>
                                <input type="number" name="priceInput" id="priceInput">
                                <button type="submit" class="btn" style="background-color: #008c00; color:black">Put on
                                    sale</button>
                            </form>
                            <div id="saleError"></div>
                            {{#if hasSaleError}}
                            <ul class="error">
                                {{#each error}}
                                <li>
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 card mt-3 ml-3 border-info rounded-lg shadow-lg pt-4">
            {{#if isOwner}}
            {{#if (eq land.approved "pending")}}
            <a class="mx-auto my-auto" href="/transactions/land/{{land._id}}"><button type="button" class="btn btn-dark"
                    disabled>View Transaction</button></a>
            {{/if}}
            {{#if (eq land.approved "rejected")}}
            <p>Your land approval has been rejected!</p>
            {{/if}}
            {{#if (eq land.approved "approved")}}
            <a class="mx-auto my-auto" href="/transactions/land/{{land._id}}"><button type="button"
                    class="btn btn-dark">View Transaction</button></a>
            {{/if}}
            {{else}}
            {{#if land.sale.onSale}}
            {{#if pendingTransaction}}
            <button type="button" class="btn btn-dark" data-toggle="tooltip"
                title="You already have a pending transaction" disabled>
                Place Bid
            </button>
            {{else}}
            {{#if (eq land.approved "pending")}}
            <button id="placeBid" type="button" class="btn btn-dark" data-toggle="modal" data-target="#bidModal" disabled>
                Place Bid
            </button>
            {{/if}}
            {{#if (eq land.approved "rejected")}}
            <p>The land has been rejected by the admin!</p>
            {{/if}}
            {{#if (eq land.approved "approved")}}
            <button id="placeBid" type="button" class="btn btn-dark" data-toggle="modal" data-target="#bidModal">
                Place Bid
            </button>
            {{/if}}
            {{/if}}
            <div class="modal" id="bidModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title mx-auto">Enter your bid amount. Bid amount cannot be less than price
                                by $1000 difference!</p>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="/land/{{land._id}}/{{owner._id}}" method="post" id="bidForm">
                                <label for="bidInput">Bid: </label>
                                <input type="number" name="bidInput" id="bidInput">
                                <label hidden for="price">Price</label>
                                <input type="hidden" name="price" id="price" value="{{land.sale.price}}">
                                <button type="submit" class="btn"
                                    style="background-color: #008c00; color:black">Bid</button>
                            </form>
                            <div id="bidError"></div>
                            {{#if hasBidError}}
                            <ul class="error">
                                {{#each error}}
                                <li>
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {{/if}}
            <div class="card rounded-lg shadow-lg p-2">
                <p class="font-weight-bold mx-auto my-auto">Contact Info: </p>
                <br>
                <p class="m-0">{{owner.name}}</p>
                <p class="m-0">{{owner.phone}}</p>
                <p>{{owner.emailId}}</p>
                <p>Rating: {{divide owner.rating.totalRating owner.rating.count}} ({{owner.rating.count}})</p>
            </div>
            {{/if}}
        </div>
    </div>
</main>
<script src="/public/js/putOnSale.js"></script>
<script src="/public/js/placeBid.js"></script>