<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSite Name</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/land">Home</a></li>
            <li><a href="/user/{{userId}}/land">My Property</a></li>
            <li><a href="/user/{{userId}}/transactions">My Transactions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/{{userId}}/profile">Profile</a></li>
        </ul>
    </div>
</nav>
<form action="/land" method="post" id="get-state-form">
    <label for="stateInput">State</label>
    <input type="text" name="stateInput" id="stateInput">
    <button type="submit">Search</button>
</form>
{{#if hasSearchError}}
<ul class="error">
    {{#each error}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}

<div class="row">
    <header>
        <h1>Lands</h1>
    </header>
    <div class="col-md-8" id="results">
        {{#each landByState}}
        <a href="/land/{{this.id}}">
            <div>
                <p>Name: {{this.address}}</p>
                <p>Dimensions: {{this.dimensions}}</p>
                <p>Price: {{this.price}}</p>
                <p>Sale: {{this.sale}}</p>
            </div>
        </a>
        {{/each}}
    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="d-flex justify-content-center" style="padding :20px;">
                <p style="display:inline">Sort by Price : </p>
                <select id="sort" class="form-select">
                    <option value="priceAsc">A-Z</option>
                    <option value="priceDesc">Z-A</option>
                </select>
            </div>
        </div>

        {{#if state}}
        <form action="/land/area/{{state}}" method="post" id="filter-area">
            <label for="minAreaInput">Min Area</label>
            <input type="text" name="minAreaInput" id="minAreaInput">
            <label for="maxAreaInput">Max Area</label>
            <input type="text" name="maxAreaInput" id="maxAreaInput">
            <button type="submit">Search</button>
        </form>
        <form action="/land/price/{{state}}" method="post" id="filter-price">
            <label for="minPriceInput">Min Price</label>
            <input type="number" name="minPriceInput" id="minPriceInput">
            <label for="maxPriceInput">Max Price</label>
            <input type="number" name="maxPriceInput" id="maxPriceInput">
            <button type="submit">Search</button>
        </form>
        {{/if}}

        {{#if hasError}}
        <ul class="error">
            {{#each error}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>
</div>
<div id="lands" data-landStates="{{json landByState}}"></div>
<script src="/public/js/displayLandByState.js"></script>