<form action= "/land/{{id}}/edit" method="PATCH" id = "editLand-form">
        <label for = "line1Input" id = "line1-text">Line1: </label>
        <input type="text" name="line1Input" id = "line1Input" value={{result.line1}}> <br>   
        
        <label for = "line2Input" id = "line2-text">Line2:</label>
        <input type="text" name="line2Input" id = "line2Input" value={{result.line2}}>   
        
        <label for = "cityInput" id = "city-text">City:</label>
        <input type="text" name="cityInput" id = "cityInput" value={{result.city}}> <br>

        <label for = "stateInput" id = "state-text">State:</label>
        <input type="text" name="stateInput" id = "stateInput" value={{result.state}}>  

        <label for = "zipCodeInput" id = "zipCode-num">Zip:</label>
        <input type="number" name="zipCodeInput" id = "zipCodeInput" value={{result.zipCode}}> <br>   
        
        <label for = "typeInput" id = "type-dropdown">Type of Property:</label>
        <select name="typeInput" id="typeInput">
            <option value="residential">Residential</option>
            <option value="commercial">Commercial</option>    
            <option value="industrial">Industrial</option>    
            <option value="agricultural">Agricultural</option>    
        </select>
        <br>  

        <label for="dimensionsLengthInput" id = "dimensionsLength-num">Length</label>
        <input type="number" name="dimensionsLengthInput" id = "dimensionsLengthInput" value={{result.dimensions.length}}><br>

        <label for="dimensionsBreadthInput" id = "dimensionsBreadth-num">Breadth</label>
        <input type="number" name="dimensionsBreadthInput" id = "dimensionsBreadthInput" value={{result.dimensions.breadth}}><br>
        
        {{!-- TODO dynamic restriction thing --}}
        {{!-- for the time being --}}

        <label for ="restrictionsInput" id = "restrictions-text">restrictions: </label>
        <input type="text" name="restrictionsInput" id = "restrictionsInput"value={{result.restrictions}}>  <br> 

        {{!-- radio button for sale --}}
        
        <label for="price" id = "priceInput-num">price</label>
        <input type="number" name="priceInput" id = "priceInput" value={{result.sale.price}}> <br>
        <button type="submit" >save changes </button>
    </form>   

<ul id = "error">
    {{#if error}}
        {{#each error}}
        <li>{{this}}</li>
    {{/each}}
{{/if}}
</ul>
