<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top">
    <div class="container-fluid">
        <div class="navbar-header text-light">
            TradeMyProperty
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/land" class="nav-link text-light">Home</a></li>
            <li class="nav-item"><a href="/user/{{userId}}/land" class="nav-link text-light">My Property</a></li>
            <li class="nav-item"><a href="/user/{{userId}}/transactions" class="nav-link text-light">My
                    Transactions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/logout" class="nav-link text-light">Logout</a></li>
            <li class="nav-item"><a href="/user/{{userId}}/profile" class="nav-link text-light">Profile</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 mt-5 mr-3 ml-4">
            <div class="card border-info rounded-lg shadow-lg p-2">
                <dt>Name:</dt>
                <dd>{{user.name}}</dd>
                <dt>Phone:</dt>
                <dd>{{user.phone}}</dd>
                <dt>Email Address:</dt>
                <dd>{{user.emailId}}</dd>
                <dt>Date of Birth:</dt>
                <dd>{{user.dob}}</dd>
                <dt>Gender:</dt>
                <dd>{{user.gender}}</dd>
                <dt>Rating:</dt>
                <dd>{{divide user.rating.totalRating user.rating.count}} ({{user.rating.count}})</dd>
                {{#if (flagCheck user.rating.totalRating user.rating.count )}}
                <p>Your account has been flagged. Please improve your ratings to avoid getting your account freezed</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>